<footer>
    <div class="footer-content">
    <div class="footer-section">
        <h3>FacialPalsyPath</h3>
        <p>This resource was created for people to learn more about facial paralysis</p>
        <a href="../pages/About.html" style="font-weight: bold;">More about FacialPalsyPath</a>
        <br><br>
        <p>Have any questions or suggestions for us? Reach out using our <a href="../pages/About.html#contact-section" style="font-weight: bold;">contact form</a></p>
    </div>
    <div class="footer-section">
        <h3>Quick Links</h3>
        <ul>
        <li><a href="../pages/UnderstandingAnatomy.html">Understanding Anatomy</a></li>
        <li><a href="../pages/UnderstandingParalysis.html">Understanding Facial Paralysis</a></li>
        <li><a href="../pages/PatientPath.html">Patient Path</a></li>
        <li><a href="../pages/YourTreatment.html">Your Treatment</a></li>
        <li><a href="../pages/About.html">About FacialPalsyPath</a></li>
        </ul>
    </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2026 FacialPalsyPath Ella Eberhardt. All rights reserved.</p>
    </div>
</footer>  

<!-- TO DO: EDIT ALL LINKS -->