<header>
    <nav>
    <div class="logo">
        <a href="../index.html" class="logo-link">
        <img src="../icons/FacialPalsyPathLogo.png" alt="Home" class="logo-img">
         </a>
    </div>

    <!-- Hidden checkbox -->
        <input type="checkbox" id="menu-toggle" class="menu-toggle">

        <!-- Hamburger icon -->
        <label for="menu-toggle" class="hamburger">
             <span></span>
             <span></span>
             <span></span>
            </label>
        <div class="glass-overlay"></div>

    <ul class="nav-links">
        <li class="dropdown">
            <a href="../pages/UnderstandingAnatomy.html" class="dropdown-toggle">Understanding Anatomy</a>
            <ul class="dropdown-menu">
                <li><a href="../pages/UnderstandingAnatomy.html#nerves">Nerves</a></li>
                <li><a href="../pages/UnderstandingAnatomy.html#facialnerve">Facial Nerve</a></li>
                <li><a href="../pages/UnderstandingAnatomy.html#facialmuscles">Facial Muscles</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="../pages/UnderstandingParalysis.html" class="dropdown-toggle">Understanding Facial Paralysis</a>
            <ul class="dropdown-menu">
                <li><a href="../pages/UnderstandingParalysis.html#whatisparalysis">What is Paralysis?</a></li>
                <li><a href="../pages/UnderstandingParalysis.html#causes">Causes</a></li>
                <li><a href="../pages/UnderstandingParalysis.html#bellspalsy">Bell's Palsy</a></li>
                <li><a href="../pages/UnderstandingParalysis.html#stages">Stages</a></li>
                <li><a href="../pages/UnderstandingParalysis.html#synkinesis">Synkinesis</a></li>
                <li><a href="../pages/UnderstandingParalysis.html#recovery">Recovery & Impacts</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="../pages/PatientPath.html" class="dropdown-toggle">Patient Path</a>
            <ul class="dropdown-menu">
                <li><a href="../pages/PatientPath.html#firstsigns">First Signs</a></li>
                <li><a href="../pages/PatientPath.html#attheclinic">At the Clinic</a></li>
                <li><a href="../pages/PatientPath.html#athome">At Home</a></li>
                <li><a href="../pages/PatientPath.html#onsurgeryday">On Surgery Day</a></li>
                <li><a href="../pages/PatientPath.html#yourteam">Your Team</a></li>
            </ul>
        </li>
         <li class="dropdown">
            <a href="../pages/YourTreatment.html" class="dropdown-toggle">Your Treatment</a>
            <ul class="dropdown-menu">
                <li><a href="../pages/YourTreatment.html#intro">Intro</a></li>
                <li><a href="../pages/YourTreatment.html#non-surgical">Non-Surgical Options</a></li>
                <li><a href="../pages/YourTreatment.html#surgical-static">Surgical Options: Static</a></li>
                <li><a href="../pages/YourTreatment.html#surgical-dynamic">Surgical Options: Dynamic</a></li>
            </ul>
        </li>
        <li><a href="../pages/About.html">About FacialPalsyPath</a></li>
        <li><a href="../pages/About.html#contact-section">Contact Us</a></li>
    </ul>
    </nav>
</header>
<!-- TO DO: EDIT ALL LINKS -->